.border-dropdown,
.panel.border-dropdown {
  border: 1px solid #a3adba;
  background-color: #fff;
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
  margin-bottom: 0;
}