@media (max-width: 767px) {
  .c-timeline {
    background: #edecec;
    box-shadow: none;
  }

  .c-timeline .tab-nav {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }
}

.timeline {
  position: relative;
}

@media (min-width: 768px) {
  .timeline {
    padding: 50px;
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .timeline {
    margin-top: 30px;
  }
}

.t-view {
  border: 1px solid #eee;
  position: relative;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .t-view {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }
}

.t-view .tv-header {
  padding: 16px 18px;
  border-bottom: 1px solid #eee;
  background: #F9F9F9;
}

.t-view .tv-header .actions {
  position: absolute;
  top: 5px;
  right: 10px;
}

.t-view .tv-body {
  padding: 23px 25px;
}

.t-view .tv-body .tvb-lightbox {
  margin: 0 -8px 15px;
}

.t-view .tv-body .tvb-lightbox [data-src] {
  padding: 0 5px;
  margin-bottom: 5px;
}

.t-view .tvh-user {
  display: block;
}

.t-view .tvh-user img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.t-view:before {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: -70px;
  top: 0;
  border: 3px solid #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  color: #FFF;
  font-family: 'FontAwesome';
  z-index: 1;
}

.t-view:after {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 1px;
  height: ~"calc(100% + 37px)";
}

.t-view[data-tv-type="text"]:before {
  content: "\f24f";
  background: #00bcd4;
  box-shadow: 0 0 0 1px #00bcd4;
}

.t-view[data-tv-type="text"]:after {
  background: #00bcd4;
}

.t-view[data-tv-type="image"]:before {
  content: "\f17f";
  background: #4caf50;
  box-shadow: 0 0 0 1px #4caf50;
}

.t-view[data-tv-type="image"]:after {
  background: #4caf50;
}

.t-view[data-tv-type="video"]:before {
  content: "\f3a9";
  background: #ffc107;
  box-shadow: 0 0 0 1px #ffc107;
}

.t-view[data-tv-type="video"]:after {
  background: #ffc107;
}

.timeline .t-view[data-tv-type="ontime"]:before {
  content: "\f00c";
  background: #4caf50;
  box-shadow: 0 0 0 1px #4caf50;
}

.timeline .t-view[data-tv-type="ontime"]:after {
  background: #4caf50;
}

.timeline .t-view[data-tv-type="late"]:before {
  content: "\f00c";
  background: #ccf;
  box-shadow: 0 0 0 1px #ccf;
}

.timeline .t-view[data-tv-type="late"]:after {
  background: #ccf;
}

.t-view .tvb-stats {
  list-style: none;
  padding: 0;
  margin: 10px 0 20px;
}

.t-view .tvb-stats > li {
  display: inline-block;
  padding: 5px 10px 6px;
  border: 1px solid #ccc;
  margin-right: 2px;
}

.t-view .tvb-stats > li i {
  font-size: 15px;
  line-height: 100%;
  vertical-align: top;
  margin-top: 2px;
}

.t-view .tvb-stats > li.tvbs-comments {
  border-color: #4caf50;
  color: #4caf50;
}

.t-view .tvb-stats > li.tvbs-likes {
  border-color: #03a9f4;
  color: #03a9f4;
}

.t-view .tvb-stats > li.tvbs-views {
  border-color: #ff9800;
  color: #ff9800;
}

.tv-comments .tvc-lists {
  padding: 0;
  list-style: none;
  margin: 0;
}

.tv-comments .tvc-lists > li {
  padding: 15px 20px;
  margin: 0;
  border-top: 1px solid #eee;
}

.tvc-more {
  color: #333;
  display: block;
  margin-bottom: -10px;
}

.tvc-more:hover {
  color: #000;
}

.tvc-more i {
  vertical-align: middle;
  margin-right: 5px;
}


.p-timeline {
  position: relative;
  padding-left: 80px;
  margin-bottom: 75px;
}

.p-timeline [data-src] {
  float: left;
  width: 70px;
  height: 70px;
  margin: 0 3px 3px 0;
}

.p-timeline:last-child .pt-line:before {
  height: 100%;
}

.ptb-title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.1;
}

.pt-line {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 14px;
  .big-day {
    margin-top: 9px;
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #777;
  }
}

.pt-line:before,
.pt-line:after {
  content: "";
  position: absolute;
}

.pt-line:before {
  width: 1px;
  height: calc(100% + 63px);
  background: #E2E2E2;
  top: 14px;
  right: -20px;
}

.pt-line:after {
  top: 2px;
  right: -26px;
  width: 13px;
  height: 13px;
  border: 1px solid #C1C1C1;
  border-radius: 50%;
}