<div class="reports-head">
  <span class="reports-caption" id="title"> </span>
  <span id="weekDay" class="ml-5"></span>
  <span>
    <a title="打印" data-toggle="tooltip" data-placement="top" id="wr-print" class="mh-5 fs-14 hide">
      <i class="icon-print"></i>
    </a>
  </span>
  <span>
    <a title="导出" data-toggle="tooltip" data-placement="top" id="wr-export" class="fs-14 hide">
      <i class="icon-file-word"></i>
    </a>
  </span>

  <div class="btn-group pull-right hide" id="switch">
    <a class="btn" class="router " id="prev"></a>
    <a class="btn" class="router" id="current"></a>
    <a class="btn" class="router" id="next"></a>
  </div>
</div>
<div id="workreportcontent" class="scrollwrapper" marginbottom="50">
  <div class="loading_large ps-a hide"></div>
  <div>
    <div class="reports-body">
      <div class="report-result mb-20">
        <span class="pull-right">
          <a class="entitybox-toggle" data-module="weeklyblog" id="weeklyblog">
            <strong id="dayReport"></strong>
          </a>
        </span>
        <h4>
          <i class="graph graph-task"></i><span id="contentTitle">完成工作</span>
        </h4>
        <div class="report-result-content" id="content">尚未填写</div>
        <h4><i class="graph graph-idea"></i>总结心得</h4>
        <div class="report-result-content" id="summary">尚未填写</div>
        <h4><i class="graph graph-plan"></i><span id="planTitle">下周工作</span></h4>
        <div class="report-result-content" id="plan">尚未填写</div>
      </div>
      <div class="entity-info nomg">
        <div id="report-attachment" class="control-group" style="border:1px solid #d5d5d5; border-radius:3px"></div>
      </div>
    </div>
    <div id="extend-panel"></div>
    <div id="blog-panel" class="blog-print-content hide"><h5>本周工作日报</h5>
      <div id="week-blog"></div>
    </div>
  </div>
</div>