{% extends "layout.html" %}

{% load i18n %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block page_header %}
    <h2>{{ title }}</h2>
{% endblock %}

{% block content %}
    <section class="body">
        {{ message|linebreaks }}
        <p>
            <a class="btn btn-primary btn-lg" onclick="javascript:history.go(-1);">{% trans 'Return to previous page' %}</a>
            <a class="btn btn-primary btn-lg" href="{{ homepage_url }}">{% trans "Go to homepage" %}</a>
        </p>
    </section>
{% endblock %}