{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}

{% block mainstyles %}
    {% block styles %}
        {% compress css %}
            {% if use_less %}
                <link rel="stylesheet" type="text/less" href="{% static "cobra/less/styles.less" %}" />
            {% else %}
                <link rel="stylesheet" type="text/css" href="{% static "cobra/css/styles.css" %}" />
            {% endif %}
        {% endcompress %}
    {% endblock %}
{% endblock %}

{% block layout %}
  <div class="outer-wrapper">

    {# Site logo/title, brand, browse dropdown #}
    {% block header %}
      <header id="header">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <div class="container">
              {% include "partials/brand.html" %}
              {% include "partials/nav_primary.html" %}
            </div>
          </div>
        </div>
      </header>
    {% endblock %}

    {% block page_header_block %}
      <section id="page-header" class="toolbar">
        <div class="container">
          {% block page_header %}
            {% if team %}
              <div class="dashboard-btn">
                <a href="{% comment %}{% url 'sentry-team-dashboard' organization.slug team.slug %}{% endcomment %}" title="{% trans "Dashboard" %}">
                  <i aria-hidden="true" class="icon-list"></i>
                </a>
              </div>
            {% endif %}
          {% endblock %}
        </div>
      </section>
    {% endblock %}

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
        <section id="content" class="{% block content_class %}with-sidebar{% endblock %}">
            <div class="container">
                {% block breadcrumbs %}{% endblock %}
                {% block above_content %}{% endblock %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block content_before %}{% endblock %}
                    {% block subheader %}{% endblock subheader %}

                    {% block content %}
                        <div class="main">
                            {% block alerts %}{% include "partials/alert_messages.html" %}{% endblock %}
                            {% block main %}{% endblock %}
                        </div>
                        <div class="sidebar">
                            {% block sidebar %}{% endblock %}
                        </div>
                    {% endblock %}

                    {% block content_after %}{% endblock %}
                </div>
            </div>
        </section>
    {% endblock %}

    {% include "partials/footer.html" %}
  </div>
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    {% compress js %}
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static "cobra/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "cobra/js/cobra/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
{#    cobra.init();#}
{% endblock %}
