{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% load helper_tags organization_tags %}

{% block mainstyles %}
  {% block styles %}
    {% compress css %}
      {% if use_less %}
        <link rel="stylesheet" type="text/less" href="{% static "cobra/less/cobra.less" %}"/>
      {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "cobra/css/cobra.css" %}"/>
      {% endif %}
    {% endcompress %}
  {% endblock %}
{% endblock %}

{% block layout %}
  <div class="outer-wrapper">
    {# Site logo/title, brand, browse dropdown #}
    {% block header %}
      <header id="header">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <div class="container">
              {% include "partials/brand.html" %}
              <h1>{% block heading %}{% endblock %}</h1>
              {% include "partials/nav_primary.html" %}
            </div>
          </div>
        </div>
      </header>
    {% endblock %}

    {% block page_header_block %}
      <section id="page-header" class="toolbar">
        <div class="container">
          {% block page_header %}
            {% if team %}
              <div class="dashboard-btn">
                <a href="{% comment %}{% url 'team:dashboard' organization.slug team.slug %}{% endcomment %}" title="{% trans "Dashboard" %}">
                  <i aria-hidden="true" class="icon-list"></i>
                </a>
              </div>
            {% endif %}
          {% endblock %}
        </div>
      </section>
    {% endblock %}

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
      <section id="content" class="{% block content_class %}with-sidebar{% endblock %}">
        <div class="container">
          {% block breadcrumbs %}{% endblock %}
          {% block above_content %}{% endblock %}
          {% block subnavigation %}{% endblock %}
          <div class="content">
            {% block content_before %}{% endblock %}
            {% block subheader %}{% endblock subheader %}

            {% block content %}
              <div class="main">
                {% block alerts %}{% include "partials/alert_messages.html" %}{% endblock %}
                {% block main %}{% endblock %}
              </div>
              <div class="sidebar">
                {% block sidebar %}{% endblock %}
              </div>
            {% endblock %}

            {% block content_after %}{% endblock %}
          </div>
        </div>
      </section>
    {% endblock %}

    <footer>
      <div class="container">
        {% block footer %}
          {% include "partials/footer.html" %}
        {% endblock %}
      </div>
    </footer>
  </div>
{% endblock %}

{# Local scripts #}
{% block scripts %}
  {{ block.super }}
  {% compress js %}{% endcompress %}
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static "cobra/vendor/bootstrap3/dist/js/bootstrap.min.js" %}"></script>
    <!-- Twitter Bootstrap plugins -->
    <script type="text/javascript" src="{% static "cobra/scripts/lib/bootstrap-datepicker/bootstrap-datepicker.js" %}"></script>

    <!-- javaScript Libs -->
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery-migrate.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery.animate-colors.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery.flot.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery.flot.dashes.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery.flot.resize.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery.flot.time.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery.flot.tooltip.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery.timeago.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/countdown/jquery.plugin.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/countdown/jquery.countdown.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/moment-with-locales.js" %}"></script>
    {% moment_locale as lang %}
    <script type="text/javascript">
      moment.locale('{{ lang }}');
    </script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/bootstrap-datetimepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/simple-slider.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/json2.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/autosize.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/underscore.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/backbone.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/sugar.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/Chart.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/Chart.HorizontalBar.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/select2/select2.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/bootstrap-switch.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery.jSelectDate.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery.maskloading.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/fileinput.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/ZeroClipboard.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/module.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/uploader.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/hotkeys.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/simditor.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/sweetalert.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/bootstrap-clockpicker.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/jquery.form.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/eldarion-ajax-core.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/eldarion-ajax-handlers.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/lib/toastr.js" %}"></script>
    <!-- Globle -->
    <script type="text/javascript" src="{% static "cobra/scripts/global/core.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/conf.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/models.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/templates.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/validations.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/utils.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/modals.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/forms.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/collections.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/charts.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/waveline.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/components.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/views.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/router.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/org.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/app.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/communication.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/messages.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/global/copy.js" %}"></script>

    <!-- Legacy -->
    <script type="text/javascript" src="{% static "cobra/scripts/legacy/cobra.core.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/legacy/cobra.charts.js" %}"></script>
    <script type="text/javascript" src="{% static "cobra/scripts/legacy/cobra.stream.js" %}"></script>

  <script type="text/javascript">
    {% comment %}{% if request.LANGUAGE_CODE %}
       moment.locale('{{ request.LANGUAGE_CODE }}');
    {% endif %}{% endcomment %}



    {% if TIME_ZONE %}
      app.config.timezone = '{{ TIME_ZONE }}';
    {% endif %}
    app.config.zeroClipboardPath = '{% static "cobra/ZeroClipboard.swf" %}';
    app.config.popupCss = '{% static "cobra/styles/popup.css" %}';
    app.config.mediaUrl = '';
    app.config.urlPrefix = {{ URL_PREFIX|to_json|safe }};
    app.config.jsonDataRoot = '{{ json_data_root }}';
    app.config.auto_fade_alerts = {
      delay: {{ COBRA_CONFIG.auto_fade_alerts.delay|default:"3000" }},
      fade_duration: {{ COBRA_CONFIG.auto_fade_alerts.fade_duration|default:"1500" }},
      types: {{ COBRA_CONFIG.auto_fade_alerts.types|default:"[]"|safe }}
    };

    {% if project or team or organization %}
    app.config.noSubordinates = {% if request.user|has_subordinates:organization %}false{% else %}true{% endif %};
    {% organization_current_user organization request.user as current_user_json %}
    app.config.currentUser = {{ current_user_json }};
    {% endif %}

    {% if project %}
      app.config.projectId = {{ project.slug|to_json|safe }};
      app.config.teamId = {{ project.team.slug|to_json|safe }};
      app.config.organizationId = {{ project.organization.slug|to_json|safe }};
      app.config.organization = {
        nowTime: {% now_epoch %}
      };
    {% elif team %}
      app.config.projectId = null;
      app.config.teamId = {{ team.slug|to_json|safe }};
      app.config.organizationId = {{ team.organization.slug|to_json|safe }};
      app.config.organization = {
        nowTime: {% now_epoch %}
      };
    {% elif organization %}
      app.config.projectId = null;
      app.config.teamId = null;
      app.config.organizationId = {{ organization.slug|to_json|safe }};
      app.config.organization = {
        nowTime: {% now_epoch %}
      };
    {% else %}
      app.config.projectId = null;
      app.config.teamId = null;
      app.config.organizationId = null;
      app.config.organization = null;
    {% endif %}
  </script>
  <script type="text/javascript" src="{% static "cobra/scripts/global/main.js" %}"></script>
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
  {{ block.super }}
  app.init();
  $('[data-toggle="tooltip"]').tooltip({
    html: true,
    container: 'body'
  });
{% endblock %}
