{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block title %}
  {% trans 'Login' %} | {{ block.super }}
{% endblock %}

{% block page_account_title %}{% trans "Log in to Cobra" %}{% endblock %}

{% block page_account_content %}
  {% if messages %}
    {% for message in messages %}
      <p class="message-info">{{ message }}</p>
    {% endfor %}
  {% endif %}
  {% if form.non_field_errors %}
    <p class="message-info">{{ form.non_field_errors|first }}</p>
  {% endif %}
  {% if next %}
    <p class="message-info">{% trans "Please login to continue." %}</p>
  {% endif %}
  <form action="{% url 'account_login' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
            {{ field|as_crispy_field }}
          {% endfor %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <p class="submit">
      <a class="reset" href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
      <button type="submit" class="btn green">
        {% trans "Log in" %} <span class="light"> | {% trans "Beta" %}</span>
      </button>
    </p>
  </form>
{% endblock %}
{% block page_account_bottom %}
  {% if can_register %}
  <a class="grey" href="{{ signup_url }}">{% trans "Don't have an account? Sign up" %}</a>
  {% endif %}
{% endblock %}
