{% extends "layouts/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% block title %}{% trans "Password Reset" %} | {{ block.super }}{% endblock %}

{% block main %}
  <section class="body">
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="page-header">
      <h2>{% trans "Password Reset" %}</h2>
    </div>
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form class="form-stacked" action="{% url 'account_reset_password' %}" method="post">
      {% csrf_token %}
      {{ form|as_crispy_errors }}

      <div class="row">
        <div class="col-sm-6">
          {% for field in form %}
            {{ field|as_crispy_field }}
          {% endfor %}
        </div>
      </div>
      <fieldset class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Reset My Password" %}</button>
      </fieldset>
    </form>

  </section>
{% endblock %}