{% extends "layouts/accounts.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Change Password" %} | {{ block.super }}{% endblock %}

{% block password_settings %}class="active"{% endblock %}

{% block inner %}
  <div class="row">
    <div class="col-sm-7">
      <form action="" method="post">
        {% csrf_token %}
        {{ form|as_crispy_errors }}

        {% for field in form %}
          {{ field|as_crispy_field }}
        {% endfor %}
        <fieldset class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
          <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
