{% extends "layout.html" %}

{% load i18n %}

{% block title %} {% trans 'Dashboard' %} | {{ block.super }}{% endblock %}

{% block heading %}{% trans 'Dashboard' %}{% endblock %}

{% block page_header_block %}
    <section id="page-header" class="toolbar" style="height:5px;"></section>
{% endblock %}

{% block main %}
  <section class="body dashboard">
    {% block inner %}{% endblock %}
  </section>
{% endblock %}

{% block sidebar %}
  <ul class="nav nav-list">
    <li{% if active_tab == 'activity' %} class="active"{% endif %}>
      <a href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i>{% trans "Activity" %}</a>
    </li>
    <li{% if active_tab == 'todo' %} class="active"{% endif %}>
      <a href="#"><i class="fa fa-dashboard"></i>{% trans "Todo" %}</a>
    </li>
    <li{% if active_tab == 'calendar' %} class="active"{% endif %}>
      <a href="#"><i class="fa fa-dashboard"></i>{% trans "Calendar" %}</a>
    </li>
    <li{% if active_tab == 'task' %} class="active"{% endif %}>
      <a href="#"><i class="fa fa-dashboard"></i>{% trans "Task" %}</a>
    </li>
    <li{% if active_tab == 'bug' %} class="active"{% endif %}>
      <a href="#"><i class="fa fa-dashboard"></i>{% trans "Bug" %}</a>
    </li>
    <li{% if active_tab == 'test' %} class="active"{% endif %}>
      <a href="#"><i class="fa fa-dashboard"></i>{% trans "Test" %}</a>
    </li>
    <li{% if active_tab == 'story' %} class="active"{% endif %}>
      <a href="#"><i class="fa fa-dashboard"></i>{% trans "Story" %}</a>
    </li>
  </ul>
{% endblock %}