{% extends "layout.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load helper_tags %}

{% block title %}{% trans "Organization Settings" %} | {{ block.super }}{% endblock %}

{% block content_class %}with-left-sidebar with-bg{% endblock %}

{% block page_header_block %}
  <section id="page-header" class="toolbar">
    <div class="pull-right">
      {% block actions %}
        {% if ACCESS.org_write %}
          <a href="{% url 'team:create' organization.slug %}"
             class="btn btn-small btn-primary"><i class="fa fa-plus"></i> {% trans "New Team" %}</a>
        {% endif %}
        {% if ACCESS.team_write %}
          <a href="{% url 'project:create' organization.slug %}"
             class="btn btn-small btn-primary"><i class="fa fa-plus"></i> {% trans "New Project" %}</a>
        {% endif %}
        {% if ACCESS.org_write %}
          <a href="{% url 'organization:member-create' organization.slug %}"
             class="btn btn-small btn-primary"><i class="fa fa-plus"></i> {% trans "New Member" %}</a>
        {% endif %}
      {% endblock %}
    </div>
    <h3>{{ organization.name }} <small>Dashboard</small></h3>
  </section>
{% endblock %}

{% block sidebar %}
  <ul class="nav nav-list">
    <li class="{% block org_teams_nav %}{% endblock %}">
      <a href="{% url 'organization:home' organization.slug %}">
        {% trans "Projects" %}
      </a>
    </li>
    <li class="{% block org_daily_report_nav %}{% endblock %}">
      <a href="{% url 'organization:workreport:daily-member' organization.slug request.user.username %}">
        {% trans "Daily Report" %}
      </a>
    </li>
    {% if ACCESS.org_read %}
    <li class="{% block org_stats_nav %}{% endblock %}">
      <a href="{% comment %}{% url 'sentry-organization-stats' organization.slug %}{% endcomment %}">
        {% trans "Statistic" %}
      </a>
    </li>
    <li class="{% block org_members_nav %}{% endblock %}">
      <a href="{% url 'organization:members' organization.slug %}">
        {% trans "Members" %}
      </a>
    </li>
    <li class="{% block org_auditlog_nav %}{% endblock %}">
      <a href="{% url 'auditlog:for-organization' organization.slug %}">
        {% trans "Audit Log" %}
      </a>
    </li>
    {% endif %}
    {% if ACCESS.org_write %}
      <hr>
      <li class="{% block org_settings_nav %}{% endblock %}">
        <a href="{% url 'organization:settings' organization.slug %}">
          {% trans "Settings" %}
        </a>
      </li>
    {% endif %}
  </ul>
  {% block org_sidebar_nav_extra %}
    {% comment %}This block is used by getsentry.com{% endcomment %}
  {% endblock %}
{% endblock %}

{% block main %}
  <section class="body maskable">
    {% if request.user|needs_access_group_migration:organization %}
      <div class="alert alert-block alert-info">
        <p>You have access groups that need to be migrated into the new organization structure. <a href="{% comment %}{% url 'sentry-organization-access-group-migration' organization.slug %}{% endcomment %}">Get Started</a></p>
      </div>
    {% endif %}
    {% block inner %}{% endblock %}
  </section>
{% endblock %}
