{% extends "layout.html" %}

{% load i18n %}
{% load permissions_tags %}

{% block title %}{{ project.name }} | {{ block.super }}{% endblock %}

{% block page_header %}
    <div class="pull-right">
        <form action="{% url 'svnkit:jump-revision' project.organization.slug project.slug %}" method="post" id="search">{% csrf_token %}
          <input type="hidden" name="path" value="{{ path|default:'/' }}">
          <input type="hidden" name="current_request_path" value="{{ request.path }}">
            <input type="text" name="revision" class="form-control" placeholder="{% trans "Jump to revision" %}" />
        </form>
    </div>

    {{ block.super }}
    {% include 'partials/nav_project.html' %}
{% endblock %}
