{% extends "layout.html" %}

{% load i18n %}
{% load permissions_tags %}

{% block title %}{{ project.name }} | {{ block.super }}{% endblock %}

{% block page_header %}
    <div class="pull-right">
        <form action="{% comment %}{% url 'sentry-stream' project.organization.slug project.slug %}{% endcomment %}" id="search">
            <input type="text" name="query" value="{% if query %}{{ query }}{% endif %}" placeholder="{% trans "Jump to revision" %}" />
        </form>
    </div>

    {{ block.super }}
    {% include 'partials/nav_project.html' %}
{% endblock %}
