{% extends "layouts/modal.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "New Project" %} | {{ block.super }}{% endblock %}

{% block inner %}
  <div class="create-flow">
  <div class="page-header">
    <div class="pull-right">
      <a href="{% url 'organization:home' organization.slug %}">{% trans 'Back to Organization Home' %}</a>
    </div>
    <h2>
      {% trans "Create a New Project" %}
    </h2>
  </div>

  <p>{% blocktrans %}Project is the final workspace for you, and we suggest that you should choose a good name for it.
    The project will be create after some minutes, how long will take is depended on the code size of your
    project.{% endblocktrans %}</p>

  <br>

  <form class="form-stacked" action="" method="post">
    {% csrf_token %}

    {% if form.is_bound and not form.is_valid %}
      <div class="alert alert-error">
        <strong>{% trans "Oops! We found some errors" %}</strong>
        - {% trans "please check the error messages below and try again" %}
      </div>
    {% endif %}
    {{ form|as_crispy_errors }}
    <fieldset>
      {{ form.name|as_crispy_field }}
      <div class="row">
        <div class="col-sm-6">
          {{ form.team|as_crispy_field }}
        </div>
      </div>

    </fieldset>

    <fieldset id="svn">
      <div>
        <legend>{% trans "SVN Configs" %}</legend>
      </div>
      {{ form.svn_url|as_crispy_field }}
      {{ form.svn_repo_prefix|as_crispy_field }}

      <div class="row">
        <div class="col-sm-6">
          {{ form.svn_username|as_crispy_field }}
        </div>
        <div class="col-sm-6">
          {{ form.svn_password|as_crispy_field }}
        </div>
      </div>
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary" data-load-modal="#create-project-now">{% trans "Create Now" %}</button>
    </div>
  </form>
  {#  {% include "partials/form.html" %}#}

  <div id='create-project-now' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% trans 'Please wait...' %}</h4>
      </div>
      <div class="modal-body">

        <p>{% trans 'Cobra will do operations for you orderly.' %}</p>
        <ol>
          <li>{% trans 'Verify the data you applied.' %}</li>
          <li>{% trans 'Sync data from the SVN server' %}</li>
          <li>{% trans 'Download data from the SVN server.' %}</li>
        </ol>
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
          <strong>{% trans 'Attention!' %}</strong> {% trans 'It will redirect to the right page automately.' %}
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
</div>
