{% load i18n %}

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="input-group">
      <input class="dash-filter form-control" id="filter_projects" name="filter_projects" placeholder="Filter by name" type="search">
      <div class="input-group-addon dash-new-project">
        <a href="#"><strong>New project</strong></a>
      </div>
    </div>
    <div class="filter-bar">
      <ul class="nav-linkerer">
        <li><a href="#" class="nav-linker js-repo-filter-tab linker-selected" data-filter=".project-row">{% trans 'All' %}</a></li>
        <li><a href="#" class="nav-linker js-repo-filter-tab" data-filter=".mine">{% trans 'Mine' %}</a></li>
        <li><a href="#" class="nav-linker js-repo-filter-tab" data-filter=".joined">{% trans 'Joined' %}</a></li>
      </ul>
    </div>
  </div>

  <ul class="well-list dash-list">
    {% for project in projects %}
      <li class="project-row {% ifequal project.organization.owner request.user %}mine{% else %}joined{% endifequal %}">
        {% include 'dashboard/projects/_project.html' %}
      </li>
    {% empty %}
      <li><div class="nothing-here-block">{% trans 'There are no projects here.' %}</div></li>
    {% endfor %}
  </ul>
</div>