{% extends "layouts/modal.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans 'Login or register' %} | {{ block.super }}
{% endblock %}

{% block main %}
    <section class="body">
       {% if next %}
            <p class="alert alert-info">{% trans "Please login to continue." %}</p>
        {% endif %}

        <div class="row">
            <div class="col-sm-6 login_form">
                <form class="form-stacked" action="{{ request.get_full_path }}" method="post">
                    {{ login_form|as_crispy_errors }}

                    <fieldset>
                        <legend>{% trans "Login with your Cobra account" %}</legend>
                    </fieldset>
                    {% csrf_token %}

                    {% for field in login_form %}
                        {{ field|as_crispy_field }}
                    {% endfor %}

                    <fieldset class="form-actions">
                        <button name="login_submit" type="submit" value="Log In" class="btn btn-primary">{% trans "Login" %}</button>
                      <a href="{% url 'password-reset' %}">{% trans "Lose your password?" %}</a>
                    </fieldset>
                </form>
            </div>

            <div class="col-sm-6 register_form">
                <form class="form-stacked" action="{{ request.get_full_path }}" method="post">
                    {{ registration_form|as_crispy_errors }}

                    <fieldset>
                        <legend>{% trans "Register a new account" %}</legend>
                    </fieldset>
                    {% csrf_token %}

                    {% for field in registration_form %}
                        {{ field|as_crispy_field }}
                    {% endfor %}

                    <fieldset class="form-actions">
                        <button name="registration_submit" type="submit" value="Register" class="btn btn-primary">{% trans "Register" %}</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock %}