{% extends "layouts/dashboard.html" %}
{% load i18n %}

{% block content_class %} with-left-sidebar with-bg{% endblock %}

{% block inner %}
  <div class="row">
    <div class="col-sm-7">

    </div>

    <div class="side col-sm-5">
      <ul class="nav nav-tabs dash-sidebar-tabs">
        <li class="active">
          <a data-toggle="tab" href="#projects" id="sidebar-projects-tab">{% trans 'Projects' %} <span class="badge">{{ projects_count }}</span></a>
        </li>
        <li>
          <a data-toggle="tab" href="#groups" id="sidebar-groups-tab">{% trans 'Organizations' %} <span class="badge">{{ organizations_count }}</span></a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="projects">
          {% include 'dashboard/projects/_projects.html' %}
        </div>
        <div class="tab-pane" id="groups">
          {% include 'dashboard/organizations/_organizations.html' %}
        </div>
      </div>
      <div class="prepend-top-20">
        <div class="cobra-promo">
          <a href="#" rel="nofollow">{% trans 'Homepage' %}</a>
          <a href="#" rel="nofollow">{% trans 'Blog' %}</a>
          <a href="#" rel="nofollow">{% trans 'View on Github' %}</a>
          <a href="#" rel="nofollow">{% trans 'Requests' %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
