{% extends "layouts/dashboard.html" %}
{% load i18n %}
{% load static %}
{% load helper_tags %}


{% block content_class %} with-left-sidebar with-bg{% endblock %}

{% block inner %}
  <div class="row">
    <div class="col-sm-7">
      <ul class="nav-linkerer">
        <li><a href="#" class="nav-linker js-repo-filter-tab" data-filter=".project-row">{% trans 'OverView' %}</a></li>
        <li><a href="#" class="nav-linker js-repo-filter-tab" data-filter=".joined">{% trans 'Events' %}</a></li>
        <li><a href="#" class="nav-linker js-repo-filter-tab" data-filter=".mine">{% trans 'Comments' %}</a></li>
        <li><a href="#" class="nav-linker js-repo-filter-tab" data-filter=".joined">{% trans 'Issues' %}</a></li>
        <li><a href="#" class="nav-linker js-repo-filter-tab linker-selected" data-filter=".project-row">{% trans 'AuditLogs' %}</a></li>
      </ul>
      <div class="events">
        {% for event in activities %}
          <div class="event .{{ event.get_event_display }}">
            <div class="body">
              <span class="mega-icon {{ event.get_icon_font }}"></span>
              <div class="time">
                <time datetime="{{ event.datetime }}" title="{{ event.datetime }}">{{ event.datetime|timesince }} ago</time>
              </div>
              <div class="title">
                <a href="#">{{ event.actor.get_display_name }}</a> <span>{{ event.get_note }}</span>
              </div>
              <div class="details">
                <a href="#">
                  <img alt="{{ event.actor.get_display_name }}" class="gravatar" height="30" src="{% get_avatar_url event.actor %}" width="30"></a>
                <div class="message">
                  <blockquote>From {{ event.ip_address }}</blockquote>
                  <blockquote>{{ event.datetime }}</blockquote>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="side col-sm-5">
      <a href="#" target="_blank">
        <div class="board-block wide">
          <img class="cobra-logo" src="{% static 'cobra/img/logo/logo_gray_30_30.png' %}"
               alt="Cobra Logo">
          <img class="img-main" src="{% static 'cobra/img/document.png' %}" alt="">

          <div class="text-container">
            <div class="headline-text">Maybe you have some trouble with using the cobra functions. You can learn more with document</div>
            <span class="button">Read the document</span>
          </div>
        </div>
      </a>
      <ul class="nav nav-tabs dash-sidebar-tabs">
        <li class="active">
          <a data-toggle="tab" href="#projects" id="sidebar-projects-tab">{% trans 'Projects' %} <span class="badge">{{ projects_count }}</span></a>
        </li>
        <li>
          <a data-toggle="tab" href="#groups" id="sidebar-groups-tab">{% trans 'Organizations' %} <span class="badge">{{ organizations_count }}</span></a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="projects">
          {% include 'dashboard/projects/_projects.html' %}
        </div>
        <div class="tab-pane" id="groups">
          {% include 'dashboard/organizations/_organizations.html' %}
        </div>
      </div>
      <div class="prepend-top-20">
        <div class="cobra-promo">
          <a href="#" rel="nofollow">{% trans 'Homepage' %}</a>
          <a href="#" rel="nofollow">{% trans 'Blog' %}</a>
          <a href="#" rel="nofollow">{% trans 'View on Github' %}</a>
          <a href="#" rel="nofollow">{% trans 'Requests' %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block onbodyload %}
  {{ block.super }}
  new app.DashboardPage();

{% endblock %}
