{% extends "team/create-team.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block inner %}
  <fieldset class="step step-1">
    <h3>{% trans 'Project' %}</h3>

    <div class="help-block">{% blocktrans %}
      Projects generally pair up well with repositories. In addition to thinking about each repository being a project, also consider your environments. You might have something like <strong>"Backend"</strong> or <strong>"Frontend (Staging)"</strong>.
      {% endblocktrans %}
    </div>

    <fieldset>
      {{ form.name|as_crispy_field }}
    </fieldset>

    <fieldset id="svn">
      <div>
        <legend>{% trans "SVN Configs" %}</legend>
      </div>
      {{ form.svn_url|as_crispy_field }}
      {{ form.svn_repo_prefix|as_crispy_field }}

      <div class="row">
        <div class="col-sm-6">
          {{ form.svn_username|as_crispy_field }}
        </div>
        <div class="col-sm-6">
          {{ form.svn_password|as_crispy_field }}
        </div>
      </div>
    </fieldset>

  </fieldset>
{% endblock %}
