{% extends "layouts/modal.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}
  {% trans 'Help' %} | {{ block.super }}
{% endblock %}

{% block main %}
  <section class="body">
    <div id="help-blank-slate">
      <section id="help-get-started">
        <h1>{% trans 'Project Manage System' %}</h1>
        <div class="row get-started-links">
          <div class="col-sm-4">
            <a class="get-started-link document" href="" target="_blank">
              <span class="title">{% trans 'Documents' %}</span>
              <span class="description">
                {% trans 'All the information you need to get started.' %}
              </span>
            </a>
          </div>
          <div class="col-sm-4">
            <a class="get-started-link getting-git" href="" target="_blank">
              <span class="title">{% trans 'Git tutorials' %}</span>
              <span class="description">
                {% trans 'Version controll use git, if you want to contribute, enjoy it.' %}
              </span>
            </a>
          </div>
          <div class="col-sm-4">
            <a class="get-started-link sourcetree" href="" target="_blank">
              <span class="title">{% trans 'Daily Report' %}</span>
              <span class="description">
                {% trans 'One important function for this system.' %}
              </span>
            </a>
          </div>
        </div>
      </section>
      <section id="help-create-first-org">
        <h1>{% trans 'Create or join an organization' %}</h1>
        <p>{% trans 'Thanks for choosing Us. Start by Create or join an organization.' %}</p>
        <div class="buttons">
          <a href="{% url 'organization:create' %}" title="Create organization" id="create-org" class="btn btn-primary">{% trans 'Create a organization' %}</a>
          <a href="{% url 'organization:all-list' %}" title="Join organization" id="join-org" class="btn btn-default">{% trans 'Join an existing organization' %}</a>
        </div>
      </section>
    </div>

  </section>
{% endblock %}
