{% extends 'layouts/project.html' %}
{% load i18n helper_tags %}

{% block main %}
  <section class="body" id="repo-overview">
    <div class="media">
      <div class="media-left">
        {% get_project_avatar project 'media-object avatar project-avatar s90' %}
      </div>
      <div class="media-body">
        <h3 class="media-heading">
          <span class="str-truncated">
            <span class="namespace-name">
              {{ project.organization.name }}
              {% ifnotequal project.organization.owner request.user %}
                ({{ project.organization.owner.get_display_name }})
              {% endifnotequal %} / {{ project.team.name }} /
            </span>
            <span class="project-name filter-title">
              {{ project.name }}
            </span>
          </span>
        </h3>
        {{ project.desc }}
      </div>
    </div>

    <hr>

    <div id="repo-info" class="aui-group">
      <div class="aui-item repo-metadata-container">
        <dl class="repo-metadata">
          <dt>Last updated</dt>

          <dd title="2015-03-02">
            <time datetime="2015-03-02T02:32:15.587058" title="2 March 2015 10:32">2015-03-02</time>
          </dd>


          <dt>Language</dt>
          <dd title="Java">

            Java

          </dd>

          <dt>Access level</dt>


          <dd title="You have read access">
            Read
          </dd>

        </dl>
      </div>
      <div class="aui-item repo-stats-container" id="repo-stats" data-modules="repo/overview/repo-stats">
        <ul class="stats">


          <li class="branches">
            <a href="#branches" id="branches-dialog-trigger" data-modules="repo/overview/filterable-list-dialog"
               title="View branches in this repository"
               data-url="/api/1.0/repositories/lyon_beihua/portfolio_isotope-django-django-cms/branches-tags"
               data-template="branches-overview-template">
              <span class="value">1</span>

              Weekly Report

            </a>
          </li>
          <li class="tags">
            <a href="#tags" id="tags-dialog-trigger" data-modules="repo/overview/filterable-list-dialog"
               title="View tags in this repository"
               data-url="/api/1.0/repositories/lyon_beihua/portfolio_isotope-django-django-cms/branches-tags"
               data-template="tags-overview-template">
              <span class="value">1</span>

              Daily Report

            </a>
          </li>
          <li class="forks">
            <a href="#forks" id="forks-dialog-trigger" data-modules="repo/overview/filterable-list-dialog"
               title="View forks of this repository"
               data-url="/api/1.0/repositories/lyon_beihua/portfolio_isotope-django-django-cms/forks"
               data-template="forks-overview-template">
              <span class="value">0</span>

              Tasks

            </a>
          </li>
          <li class="followers">

            <a href="#followers" id="followers-dialog-trigger" data-modules="repo/overview/followers-dialog"
               title="View watchers of this repository"
               data-url="/api/1.0/repositories/lyon_beihua/portfolio_isotope-django-django-cms/followers"
               data-template="watchers-overview-template">
              <span class="value">1</span>

              Bugs

            </a>
          </li>
        </ul>


      </div>
    </div>

    {% if readme %}
      {% include 'partials/_readme.html' %}
    {% endif %}
  </section>
{% endblock %}

