{% extends "svnkit/base.html" %}

{% load helper_tags %}

{% block title %}{{ repository.label }}:{{ changeset }}{% endblock %}

{% block content %}
<div class="changeset">

<h1>
  <a href="{% comment %}{% url svnlit_node_revision repository.label,changeset.revision,"/" %}{% endcomment %}">
    {{ repository.label }}:{{ changeset }}</a>
</h1>

<h2>Last changed by {{ changeset.author }} {{ changeset.date|timesince }}</h2>

<pre>{{ changeset.message }}</pre>

<ul class="change-list">
  {% for change in changeset.changes.all %}
  <li class="change change-{{ change.action }}">
    <span class="change-action">{{ change.action }}</span>
    {% if not change.is_deletion %}
    <a class="change-path"
       href="{% comment %}{% url svnlit_node_revision repository.label,revision,change.path %}{% endcomment %}">
      {{ change.path }}</a>
    {% else %}
    {{ change.path }}
    {% endif %}
  </li>
  {% endfor %}
</ul>

</div>
<section class="body">
<div class="panel panel-default commit full-commit">
  <!-- Default panel contents -->
  <div class="panel-heading">
{#    {{ changeset.message }}#}
    <a href="" class="btn btn-default pull-right" title="" rel="nofollow">Browse files</a>
    <p class="commit-title">
      To do some change about svnkit on code review.
    </p>
    <div class="commit-desc"><pre>Add new function of code log.
Web Page.</pre></div>
    <div class="commit-branches">

    <span class="fa fa-key"></span>
    <ul class="branches-list">
        <li class="branch"><a href="/lyoniionly/django-cobra">{{ changeset }}</a></li>
    </ul>
  </div>

  </div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    {% for change in changeset.changes.all %}
    <li class="list-group-item change change-{{ change.action }}">
      <span class="change-action">{{ change.action }}</span>
        {% if not change.is_deletion %}
        <a class="change-path"
           href="{% comment %}{% url svnlit_node_revision repository.label,revision,change.path %}{% endcomment %}">
          {{ change.path }}</a>
        {% else %}
        {{ change.path }}
        {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
  </section>
{% endblock %}
