'<div id="filter-div" class="clearfix">' +
  '<div class="loading_large"></div>' +
  '<div id="info-div" class="hide">' +
    '<div class="filter-group">' +
      '<div id="employee-title" class="filter-title">' +
        '<span class="filter-label hide" id="employee-type-task">负责人或创建人</span>' +
        '<span class="filter-label hide" id="employee-type-blog">我关注的人及下属</span>' +
        '<span class="filter-label hide" id="employee-type-document">负责人或创建人</span>' +
        '<span class="filter-label hide" id="employee-type-customer">负责人或创建人</span>' +
        '<span class="filter-label hide" id="employee-type-mainline">负责人或创建人</span>' +
        '<span class="filter-label hide" id="employee-type-workflow">申请人</span>' +
        '<span class="filter-label hide" id="employee-type-tag">创建人</span>' +
        '<span class="filter-label hide" id="employee-type-formdatareport">上报收集人</span>' +
        '<span class="filter-input">' +
          '<input placeholder="搜索人员" data-entity="employee" class="typehead form-control" name="username">' +
        '</span>' +
      '</div>' +
      '<div class="filter-content" id="employee-filter"></div>' +
    '</div>' +
    '<div class="filter-group">' +
      '<div id="due-time" class="filter-title hide">' +
        '<span class="filter-label">到期日</span>' +
      '</div>' +
      '<div id="due-time-filter" class="filter-content due-time-div">' +
        '<span>从</span>' +
        '<input id="due-time-begin"' +
          'type="text" v-name="date"' +
          'insertAfter="true"' +
          'dateGroup="true"' +
          'format="yyyy-mm-dd"' +
          'maxView="decade"' +
          'minView="month"' +
          'class="datepicker form-control"' +
          'name="taskGtDate">' +
        '<span>至</span>' +
        '<input id="due-time-end" type="text" v-name="date" insertAfter="true" dategroup="true" format="yyyy-mm-dd"' +
          'maxView="decade" minView="month" class="datepicker form-control" name="taskLtDate">' +
      '</div>' +
    '</div>' +
    '<div class="filter-group">' +
      '<div id="comment" class="filter-title comment-div">' +
        '<span id="comment-type-task" class="filter-label hide">反馈时间</span>' +
        '<span id="comment-type-document" class="filter-label hide">文档类型</span>' +
        '<span id="comment-type-customer" class="filter-label hide">反馈时间</span>' +
        '<span id="comment-type-workflow" class="filter-label hide">表单</span>' +
      '</div>' +
      '<div id="comment-filter-customer" class="filter-content hide">' +
        '<span id="one-mounth-no" class="filter-item">' +
          '<a data-entity="one_mounth_no" class="comment-click">一个月内未联系的客户</a>' +
        '</span>' +
        '<span id="one-weak-no" class="filter-item">' +
          '<a data-entity="one_weak_no" class="comment-click">一周未联系的客户</a>' +
        '</span>' +
        '<span id="3day-no" class="filter-item">' +
          '<a data-entity="three_day_no" class="comment-click">3天未联系的客户</a>' +
        '</span>' +
        '<span id="1day-no" class="filter-item">' +
          '<a data-entity="one_day_no" class="comment-click">1天未联系的客户</a>' +
        '</span>' +
        '<span id="none" class="filter-item">' +
          '<a data-entity="none" class="comment-click">无联系的客户</a>' +
        '</span>' +
        '<span id="one_weak_yes" class="filter-item">' +
          '<a data-entity="one_weak_yes" class="comment-click">本周内联系的客户</a>' +
        '</span>' +
        '<span id="one-mounth-yes" class="filter-item">' +
          '<a data-entity="one_mounth_yes" class="comment-click">本月内联系的客户</a>' +
        '</span>' +
      '</div>' +
      '<div id="comment-filter-task" class="filter-content hide">' +
        '<span id="one-mounth-no" class="filter-item">' +
          '<a data-entity="one_mounth_no" class="comment-click">一个月内未反馈的任务</a>' +
        '</span>' +
        '<span id="one-weak-no" class="filter-item">' +
          '<a data-entity="one_weak_no" class="comment-click">一周未反馈的任务</a>' +
        '</span>' +
        '<span id="three_day-no" class="filter-item">' +
          '<a data-entity="three_day_no" class="comment-click">3天未反馈的任务</a>' +
        '</span>' +
        '<span id="one_day-no" class="filter-item">' +
          '<a data-entity="one_day_no" class="comment-click">1天未反馈的任务</a>' +
        '</span>' +
        '<span id="none" class="filter-item">' +
          '<a data-entity="none" class="comment-click">无反馈的任务</a>' +
        '</span>' +
        '<span id="one_weak_yes" class="filter-item">' +
          '<a data-entity="one_weak_yes" class="comment-click">本周内反馈的任务</a>' +
        '</span>' +
        '<span id="one-mounth-yes" class="filter-item">' +
          '<a data-entity="one_mounth_yes" class="comment-click">本月内反馈的任务</a>' +
        '</span>' +
      '</div>' +
      '<div id="comment-filter-document" class="filter-content hide">' +
        '<span id="html" class="filter-item">' +
          '<a data-entity="html" class="comment-click">html文档</a>' +
        '</span>' +
        '<span id="office" class="filter-item">' +
          '<a data-entity="office" class="comment-click">Office文档</a>' +
        '</span>' +
        '<span id="text" class="filter-item">' +
          '<a data-entity="text" class="comment-click">文本文档</a>' +
        '</span>' +
        '<span id="pdf" class="filter-item">' +
          '<a data-entity="pdf" class="comment-click">PDF文档</a>' +
        '</span>' +
        '<span id="image" class="filter-item">' +
          '<a data-entity="image" class="comment-click">图片文件</a>' +
        '</span>' +
        '<span id="audio" class="filter-item">' +
          '<a data-entity="audio" class="comment-click">音频文件</a>' +
        '</span>' +
        '<span id="video" class="filter-item">' +
          '<a data-entity="video" class="comment-click">视频文件</a>' +
        '</span>' +
        '<span id="other" class="filter-item">' +
          '<a data-entity="other" class="comment-click">其他类型文件</a>' +
        '</span>' +
      '</div>' +
      '<div id="comment-filter-workflow" class="filter-content hide"></div>' +
    '</div>' +
    '<div class="filter-group">' +
      '<div id="mainline" class="filter-title mainline-div">' +
        '<span class="filter-label">项目</span>' +
        '<span class="filter-input">' +
          '<input name="mainline" class="typehead form-control" data-entity="mainline" placeholder="搜索项目">' +
        '</span>' +
      '</div>' +
      '<div id="mainline-filter" class="filter-content mainline-div"></div>' +
    '</div>' +
    '<div class="filter-group">' +
      '<div id="tag" class="filter-title tag-div">' +
        '<span class="filter-label">标签</span>' +
        '<span class="filter-input">' +
          '<input name="tag" class="typehead form-control" data-entity="tag" placeholder="搜索标签">' +
        '</span>' +
      '</div>' +
      '<div id="tag-filter" class="filter-content tag-div"></div>' +
    '</div>' +
    '<div class="filter-group">' +
      '<div id="formstatus" class="filter-title formstatus-div hide">' +
        '<span class="filter-label">表单状态</span>' +
      '</div>' +
      '<div id="formstatus-filter" class="filter-content formstatus-div hide">' +
        '<span class="filter-item">' +
          '<a data-entity="enable" class="comment-click">收集中</a>' +
        '</span>' +
        '<span class="filter-item">' +
          '<a data-entity="disable" class="comment-click">未发布</a>' +
        '</span>' +
      '</div>' +
    '</div>' +
    '<div class="filter-group">' +
      '<div id="relatedstatus" class="filter-title relatedstatus-div hide">' +
        '<span class="filter-label">关联审批</span>' +
      '</div>' +
      '<div id="relatedstatus-filter" class="filter-content relatedstatus-div hide">' +
        '<span class="filter-item">' +
          '<a data-entity="true" class="comment-click">已关联</a>' +
        '</span>' +
        '<span class="filter-item">' +
          '<a data-entity="false" class="comment-click">未关联</a>' +
        '</span>' +
      '</div>' +
    '</div>' +
    '<div class="filter-group">' +
      '<div class="filter-title hide datareport-div">' +
        '<span class="filter-label">上报时间</span>' +
      '</div>' +
      '<div class="filter-content hide datareport-div due-time-div">' +
        '<span>从</span>' +
        '<input id="report-time-begin"' +
           'type="text" v-name="date"' +
           'insertAfter="true"' +
           'dateGroup="true"' +
           'format="yyyy-mm-dd"' +
           'maxView="decade"' +
           'minView="month"' +
           'class="datepicker form-control"' +
           'name="reportGtDate">' +
        '<span>至</span>' +
        '<input id="report-time-end" type="text" v-name="date" insertAfter="true" dategroup="true" format="yyyy-mm-dd"' +
          'maxView="decade" minView="month" class="datepicker form-control" name="reportLtDate">' +
      '</div>' +
    '</div>' +
    '<div class="filter-group">' +
      '<div id="employee-title" class="filter-title datareport-div hide">' +
        '<span class="filter-label" id="employee-type-task">上报表单</span>' +
        '<span class="filter-input hide">' +
          '<input placeholder="上报表单" data-entity="datareport" class="typehead" name="name">' +
        '</span>' +
      '</div>' +
      '<div class="filter-content datareport-div hide" id="datareport-form-list"></div>' +
    '</div>' +
    '<div id="btns" class="filter-btns clearfix">' +
      '<a class="btn filter-submit btn-sm fr mr-8 hide">确定</a>' +
      '<a class="btn filter-cancle btn-sm btn-info fr">重置</a>' +
    '</div>' +
  '</div>' +
'</div>',