'component.processbar': '' +
'<div id="processModal">' +
  '<div class="modal fade in" style="display: block;">' +
    '<div class="modal-dialog">' +
      '<div class="modal-content">' +
        '<div class="modal-header">' +
          '<a class="close" id="processModalClose">━</a>' +
          '<span id="js_title">批量共享操作较慢，请耐心等待!</span>' +
        '</div>' +
        '<div class="modal-body entity-info" style="min-height: 70px;">' +
          '<div class="progress controls tenantinfo-space" style="margin-left: 120px;">' +
            '<div class="progress-bar progress-bar-info progress-bar-striped" id="processNum" style="width: 1%;"></div>' +
          '</div>' +
        '</div>' +
      '</div>' +
    '</div>' +
  '</div>' +
  '<div class="modal-backdrop in"></div>' +
'</div>',