{% extends "layouts/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "New Organization" %} | {{ block.super }}{% endblock %}

{% block main %}
  <section class="body">
    <div class="page-header">
      <h2>{% trans "Create a New Organization" %}</h2>
    </div>

    <p>{% blocktrans %}Organizations represent the top level in your hierarchy. You'll be able to bundle a collection of teams within an organization as well as give organization-wide permissions to users.{% endblocktrans %}</p>

    <br>

    <form class="form-stacked" action="" method="post">
      {% csrf_token %}
      {{ form|as_crispy_errors }}
      <div class="row">
        <div class="col-sm-6">
          <fieldset>
            {% for field in form %}
              {{ field|as_crispy_field }}
            {% endfor %}
          </fieldset>
        </div>
      </div>
      <fieldset class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Create Organization" %}</button>
      </fieldset>
    </form>
  </section>
{% endblock %}
