{% extends "layouts/organization.html" %}

{% load i18n %}

{% block org_teams_nav %}active{% endblock %}

{% block inner %}
  {% if not team_list %}
    <p>You don't have any teams for this organization yet. Get started by <a href="{% url 'team:create' organization.slug %}">creating your first team</a>.</p>
  {% else %}
    <ul class="team-list">
      {% for team, project_list in team_list %}
        <li>
          <h3>
            <div class="pull-right action-bar">
              <a href="{% url 'team:manage' team.slug organization.slug %}"><span class="icon-cog"></span>{% trans 'Team Settings' %}</a>
            </div>
            <a href="{% comment %}{% url 'sentry-team-dashboard' organization.slug team.slug %}{% endcomment %}">{{ team.name }}</a>
          </h3>
          {% if not project_list %}
            <p>There are no projects in this team. Would you like to <a href="{% url 'project:create' organization.slug %}?team={{ team.slug }}">create a project</a>?</p>
          {% else %}
            <ul>
              {% for project in project_list %}
                {% comment %}<li><a href="{% url 'svnkit:node' organization.slug project.slug '/' %}">{{ project.name }}</a></li>{% endcomment %}
                <li><a href="{% url 'organization:project:overview' organization.slug project.slug %}">{{ project.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
