{% extends "layouts/organization.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block org_settings_nav %}active{% endblock %}

{% block inner %}
  <div class="page-header">
    <h2>{% trans 'Settings' %}</h2>
  </div>


      <form class="form-stacked" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
          <div class="alert alert-error">{% trans "Please correct the errors below." %}</div>
        {% endif %}

        {{ form|as_crispy_errors }}
        <div class="row">
          <div class="col-sm-5">
        <fieldset>
            {{ form.name|as_crispy_field }}
            {{ form.slug|as_crispy_field }}
        </fieldset>
        </div>
  </div>
      <hr>
        <div class="form-group">
          <label class="control-label ">{{ form.avatar.label }}</label>
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width: 170px; height: 170px;">
{#                      {% get_project_avatar project 'avatar project-avatar s160' %}#}
                      <img src="{{ organization.get_avatar_url }}">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"
                         style="max-width: 170px; max-height: 170px;"></div>
                    <div>
                      <p class="light">
                        You can change your project avatar here.
                      </p>
                      <p class="light">
                        {{ form.avatar.help_text }}
                      </p>

                      <span class="btn btn-primary btn-file">
                        <span class="fileinput-new">{% trans 'Choose avatar' %}</span>
                        <span class="fileinput-exists">{% trans 'Change avatar' %}</span>
                        <input id="id_avatar" name="avatar" type="file">
                      </span>
                      <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">{% trans 'Clear' %}</a>
                    </div>
                  </div>
                </div>

        <fieldset class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
          {% if ACCESS.is_owner and ACCESS.is_global %}
            <a href="{% url 'organization:remove' organization.slug %}" class="btn btn-danger">{% trans "Remove Organization" %}</a>
          {% endif %}
        </fieldset>
      </form>

{% endblock %}
