{% load crispy_forms_tags %}
{% load i18n %}

<form {% if form_id %}id="{{ form_id }}"{% endif %} class="form-{{ style|default:"stacked" }} {{ class }}" method="{{ method|default:"post" }}"
    {% if action %}action="{{ action }}"{% endif %}
    {% if includes_files %}enctype="multipart/form-data"{% endif %}>

    {% if not method == "get" %}{% csrf_token %}{% endif %}
    {% include 'partials/form_fields.html' %}

    <fieldset class="form-actions">
        <button type="submit" class="btn btn-primary" name="action_save">{{ submit_label|default:"Save Changes" }}</button>
        {% if plugin.is_testable %}
        <button type="submit" class="btn" name="action_test" {% if not plugin_is_configured %}disabled{% endif %}>{% trans "Test Configuration" %}</button>
        {% endif %}
        {% trans "or" %} <a href="#" onclick="window.history.go(-1);return false" >{% trans "cancel" %}</a>.
    </fieldset>
</form>
