{% load i18n %}
{% load permissions_tags %}
{% load organization_tags %}
{% load helper_tags %}

<ul class="nav navbar-nav navbar-right">
  {% block account_nav %}
    {% if request.user.is_authenticated %}
      <li><a href="">{% trans "Docs" %}</a></li>
      <li class="dropdown org-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {% if organization %}
            {{ organization.name }} {% ifnotequal organization.owner request.user %}({{ organization.owner.get_display_name }}){% endifnotequal %}
          {% else %}
            {% trans "Organizations" %}
          {% endif %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {% if request.user|can_create_organizations %}
            <li>
              <h6>
                <a href="{% url 'organization:create' %}" class="new pull-right">
                  <span class="icon-plus"></span>
                </a>
                {% trans "Organizations" %}
              </h6>
            </li>
          {% endif %}
          {% for o in request.user|list_organizations %}
            <li{% if o == organization %} class="active"{% endif %}>
              <a href="{% url 'organization:home' o.slug %}">{{ o.name }} {% ifnotequal o.owner request.user %}({{ o.owner.get_display_name }})</a>{% endifnotequal %}
              {% if request.user|can_manage_org:o %}
                <a href="{% url 'organization:settings' o.slug %}" class="org-settings">
                  <span class="icon-cog"></span>
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img class="avatar" src="{% get_avatar_url user %}">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'accounts:profile-settings' %}">{% trans "Account" %}</a></li>
          {% if request.user.is_staff %}
            <li><a href="{% comment %}{% url 'sentry-admin-status' %}{% endcomment %}">{% trans "Admin" %}</a></li>
          {% endif %}
          <li class="divider">
          <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
        </ul>
      </li>
      <li><a href="{% url 'home:help' %}" class="help-link">{% trans 'Help' %}</a></li>
    {% else %}
      <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a></li>
    {% endif %}
  {% endblock %}
</ul>